<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GeometryFighter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAABD42E1DE9D26000F7BEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAABD4441DE9D26100F7BEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAABD44F1DE9D26100F7BEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
